<div class="search-form-area">
  <div class="search-form text-center">
    <%= form_with url: search_path, method: :post, local: true do |f| %>
      <%= f.text_field :keyword, value: @keyword, :placeholder => "カード名を入力" %>
      <%= f.submit "検索", {class: "search-button"} %>
    <% end %>
  </div>
</div>

<div class="topPage">
  <div class="listWrapper">
    <% @lists.each do |list| %>
      <div class="list">
        <div class="list_header">
          <h2 class="list_header_title"><%= list.title %></h2>
          <div class="list_header_action">
            <%= link_to content_tag(:i, '', class: 'fas fa-trash'), list, method: :delete, data: { confirm: "#{list.title}を削除して大丈夫ですか？" } %>
            <%= link_to(content_tag(:i, '', class: 'fas fa-pen'), edit_list_path(list)) %>
          </div>
        </div>

        <div class="cardWrapper">
          <% list.cards.each do |card| %>
            <!--link_toをブロックで使用する場合は書き方が異なるので注意  pathの引数は2つ指定することも可能-->
            <%= link_to list_card_path(list, card), class:"cardDetail_link" do %>
              <div class="card">
                <h5 class="card_title"><%= card.title %></h5>
                <% if card.memo.size > 0 %>
                  <div class="card_detail is-exist"><i class="fas fa-bars"></i></div>
                <% end %>
              </div>
            <% end %>
          <% end %>

          <div class="addCard">
            <i class="far fa-plus-square"></i>
            <%= link_to "カードを追加", new_list_card_path(list), class: "addCard_link" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <!--検索結果を表示してみる-->
  <% @search_result_cards.each do |search_result_card| %>
    <p><%= search_result_card.title %></p>
  <% end %>

</div>